*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f9f9f9;
}
.vid-flexbox{
  display: flex;
  padding: 12px 16px;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  z-index: 100;
}
.left-section,
.right-section{
 display: flex;
 align-items: center;
 gap: 16px;
}
.middle-section{
 display: flex;
 flex: 1;
 max-width: 600px;
 justify-content: center;
 gap: 8px;
 margin: 0 40px;
}

.menu{
  border: none;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.15s;
  cursor: pointer;
}
.mic-icon:hover, 
.notification:hover,
.create-vid:hover,
.menu:hover {
  background-color: #e5e5e5;
}
.mic-icon:active, 
.notification:active,
.create-vid:active,
.menu:active {
  background-color: #e5e5e5;
}
.search-bar{
  display: flex;
  flex: 1;
  align-items: center;  
}
.search-input{
  flex: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #cccccc;
  border-right: none;
  border-radius: 40px 0 0 40px;
  outline: none;
  cursor: text;
}
.search-input:focus{
  border: 1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.search-icon{
  width: 64px;
  height: 40px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 0 40px 40px 0;
  transition: background-color 0.15s;
}
.search-icon:hover,
.mic-icon:hover{
  background-color:#f0f0f0;
}
.search-icon:active,
.mic-icon:active{
  background-color:#f0f0f0;
}
.mic-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: backgound-color 0.15s;
}


.notification{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
  transition: background-color 0.15s;
  cursor: pointer;
}
.create-vid{
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  transition: background-color 0.15s;
  cursor: pointer;
}
.create-vid span{
  font-weight: bold;
}

.chip-contents{
  display: flex;
  width: 100%;
  gap: 12px;
  margin-top: 17px;
  padding-left: 65px;
  overflow-x: auto;
}
.chips{
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
}
.all{
  background-color: #050505;
  color: white;
}

.side-bar{
  position: fixed;
  background-color: white;
  justify-content: center;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 72px;
  z-index: 101;
  padding-top: 4px;
}
.sidebar-link:hover {
  background-color: #f2f2f2;
}
.sidebar-link:active {
  background-color: #f2f2f2;
}
.sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 4px;
  transition: background-color 0.15s;
}
.sidebar-link span{
  font-size: 10px;
  font-weight: 400;
}
.sidebar-link svg{
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
  transition: transform 0.1s;
}

.vid-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin-left: 65px;
  padding: 110px 16px 0 16px;
}

.vid-container{
 display: grid;
 grid-template-columns: 48px 1fr 24px;
 align-items: start;
}
.vid-profile{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.picture{
  width: 100%;
  border-radius: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}
.profile{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: contain;
  margin: auto;
  cursor: pointer;
}
.vid-card{
  display: inline-block;
  position: relative;
}
.time{
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
  padding: 3px 6px;
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.6);
  color: white;
}
.vid-info{
  display: inline-block;
  width: 1fr;
}

.vid-title{
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #050505;

  /* webkit*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.vid-owner,
.vid-stats{
  display: flex;
  font-size: 12px;
  color: #606060;
}

.vid-owner{
  gap: 4px;
  align-items: center;
  margin-bottom: 4px;
  cursor: pointer;
}
.owner{
  text-decoration: none;
}
.badge{
  display: flex;
  width: 12px;
  height: 12px;
  fill:  currentColor;
}

.ellipsis{
  display: inline-block;
  align-items: center;
  width: 20px;
  border: none;
  background-color: white;
}
.ellipsis:hover{
  cursor: pointer;
}
.ellipsis:active{
  cursor: pointer;
}